.layout {
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.body {
    min-height: 0;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 0 30px;
    background-color: #fff;
    overflow: hidden;
}

.page {
    flex: 1;
    min-height: 0;
    overflow: auto;
}

.footer {
    z-index: 1000;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
}
